$contentClass = '.theme-default-content'
.theme-container.wide-width-container
    .theme-default-content
        max-width 1280px
        padding 2rem 2.5rem

.theme-container.full-width-container
    .page
        padding-bottom 0px
    .page-edit
        display none

    .theme-default-content
        max-width 100vw
        padding 0rem 0rem

.theme-container.preview-page-class 
    .hz-low-code
        background white
        border-radius 4px

