
.hz-root() {
    html {
      font-size: calc(12 / 1260 * 100vw);
      --col-num: 24; //布局列数
      --layout-margin: 2.2rem; //页面边距
      --layout-gap: 18px; //列间距
      --layout-col-gap: 18px; //列默认间距
      --layout-row-gap: 18px; //行间距
      --main-color:#009595;
    }
  }
  
  
  .hz-root();
  
 
  @media only screen and (max-width: 1266px)   {
    html {
      // font-size: calc(10 / 1680 * 100vw);
      --layout-gap: 10px;
      --layout-col-gap: 10px; //列默认间距
      --layout-row-gap: 10px; //行间距

    }
  }
  
  /*phone竖屏*/
  @media only screen and (max-width: 600px)   {
    html {
      // font-size: calc(10 / 1680 * 100vw);
      --col-num: 24;
      --layout-gap: 6px;
      --layout-col-gap: 6px; //列默认间距
      --layout-row-gap: 6px; //行间距

    }
  }

  
.hz-low-code{
    // height: 100%;

    // position: relative;
    @import './common.less';
    @import './layout.less';
    @import './ui.less';
}